.baner{
    background-image: url('../images/baner.jpg');
    background-position: center;
    background-size: cover;    
    width: 100%;
    height: 81.5vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}
.baner_nav{
    padding: 0 8vw;
}
.baner_nav nav li a{
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    display: flex;
}
.baner_nav nav li a:hover{
    color: #FE201D;
    text-decoration: none;
}

.baner nav li a img{
    margin-right: 1vw;
}
.catalog_section{
    background: #F7F7F7;
}
.catalog_section h1{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    padding: 3vh 0 2vh 0;
    color: #363636;
}
.catalog{
    font-family: 'Montserrat';
    padding: 1vh 10vw;
    padding-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
}
.catalog__item{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 17vw;
    min-width: 200px;
    padding: 0 1vw 4vh 1vw;
    text-align: center;
    margin: 1vh 1vw 1vh 0;
}
.catalog__item img{
    min-height: 220px;
}
.catalog__item h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 6%;
}
.item_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price{
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    padding-right: 20px;
}
.button{
    background: #FE201D;
    display: flex;
    align-items: center;
}
.button a{
    color: white;
    padding: 8px 25px;
}
.button a:hover{
    text-decoration: none;
}
/* start about index page */
.about_section_conainer
{
    background: #F7F7F7;
}
.about_section
{
    background: white;
    width: 60vw;
    margin: 1px auto;
    padding: 5vh 10vw 10vh 10vw;
    font-family: 'Montserrat';
}
.about_title
{
    text-align: center;
    font-size: 40px;
    line-height: 64px;
    color: #363636;
}
.about_section__text{
    padding: 5vh 0 10vh 0;
    text-align: center;
}
.advantages{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.advantages__item p{
    text-align: center;
    margin-top: 2vh;
    font-weight: bold;
}
.options{
    background-color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
    color: #363636;
    padding-bottom: 5vw;
}
.options h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 9vh;
    padding-top: 9vh;
}
.options_row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.options_item{
    width: 35vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    margin-left: 4vw;
    padding: 10px 0;
}
.options_item img{
    width: 210px;
    min-height: 180px;
}
.options_text{
    padding: 0 2vw;
    width: 16vw;
}
.options_text h3{
    margin-bottom: 2vh;
    font-size: 16px;
}
.main_text{
    padding: 10vh 15vw;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 170.5%
}
.main_text li{
    list-style: disc;
}
.main_text ul{
    margin-left: 30px;
}
.video_container{
    background-color: #F7F7F7;
    padding: 5vh 0;
}
.video_container h2
{
    text-align: center;
}
.video{
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: #363636;
}
.how_to_order h3{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 30px;
    color: #363636;
    padding: 12vh 0;
}
.how_to_order-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
    margin-bottom: 5vh;
}
.how_to_order-flex img{
    width: 60vw;
}
.how_to_order__item{
    margin-right: 4vw;
}
.mobile_nav{
    display: none;
}
.portfolio_container{
    background-color: #F7F7F7;
    padding-top: 5vh;
}
.portfolio_container h2{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 40px;
    color: #363636;
    font-weight: normal;
    padding: 5vh 0;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4vh 10vw;
}
.portfolio__item{
    margin: 0 1vw 2vh 0;
}
.portfolio__item img{
    width: 20vw;
    height: 40vh;
    object-fit: cover;
}
/* end about index page */
@media only screen and (min-width : 320px) and (max-width : 479px) {
.baner{
    background-image: url('../images/imagebaner.svg');
    background-position: center;
    background-size: cover;    
    width: 100%;
    height: 26vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}
.baner nav{
    display: none;
}
.mobile_nav{
    padding: 5vh 8vw;
    display: block;
}
.mobile_nav nav li a{
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
    color:#363636;
    display: flex;
}
.mobile_nav nav img{
    margin-right: 10px;
}
.baner_nav nav li a:hover{
    color: #FE201D;
    text-decoration: none;
}
.catalog_section h1{
padding: 5vh 0;
}
.catalog{
    padding: 0 0;  
}
.catalog__item{
    width: 100vw;
    margin-bottom: 4vh;
}
.catalog__item img{
    width: 100vw;
    margin: 1px auto;
}
.catalog__item h2{
    width: 100vw;
}
.product_nav{
    display: none;
}
.options_item{
    width: 100vw;
    margin-bottom: 4vh;
}
.options_item img{
    margin: 1px auto;
    width: 100vw;
}
.options_text{
    width: 95vw;
}
.main_text{
    padding: 10vh 6vw;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 170.5%
}
.about_section
{
    background: white;
    width: 100vw;
    padding: 5vh 2vw 2vh 0;
    font-family: 'Montserrat';
}
.about_title
{
    text-align: center;
    font-size: 40px;
    line-height: 64px;
    width: 100vw;
    color: #363636;
}
.about_section__text{
    padding: 0 0 5vh 0;
    text-align: center;
}
.advantages__item{
    margin: 2vh 4vw;
}
.how_to_order h3{
padding: 7vh 0;
}
.how_to_order-flex {
    padding: 0 0;
    margin-bottom: 1vh;
}
.portfolio__item img{
    width: 90vw;
    height: 50vh;
}
}
@media (min-width: 430px) and (max-width: 1199.98px) { 
    .catalog__item{
        width: 500px;
    }
}