* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* start header style */
.header_container{
    font-family: 'Montserrat', sans-serif;
}
.header_container_line--gray{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 7vw;
    background: #343434;
    color: #FFFFFF;
}
.header_contacts{
    display: flex;
    padding: 10px 0;
}
.header_contacts__item{
    display: flex;
    margin-right: 4vw;
}
.header_contacts__item img{
    margin-right: 7px;
}
.header_search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_search{
    background-image: url(../images/loop.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 15vw;
    padding: 7px 0 0 25px;
    border: none;
}
.input_flex{
    display: flex;
}
.search_button{
    all: unset;
    background: #FE201D;
    font-size: 14px;
    padding: 3.9px 10px;
    margin-left: -11.1px;
    /* position: relative;
    top: -3.3px; */
}
.header_container_line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3vh 4vw;
}
.header_icons{
    display: flex;
    justify-content: center;
}
.header_socials a{
    margin-left: 0.5vw;
}
.header_line{
    padding: 0 2vw;
}
.burger-menu{
    display: none;
}
.mobile-menu{
    display: none;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 70vw;
    z-index: 1;
    background-color: white;
    color: #343434;
}
.mobile-menu a{
    color: #343434;
}
.mobile-menu nav{
    padding: 20px 0;
}
.mobile-menu .nav li{
    margin: 0 0 20px 20px;
    font-size: 16px;
}
.mobile-basket{
    padding: 10px 20px;
}
.mobile-menu__item{
    display: flex;
    margin: 10px 6px;
}
.mobile-menu__item img{
    display: flex;
    margin-right: 10px;
}
#burger, [for=burger]
{
    display: none;
}
#burger:checked + label + .mobile-menu{
    display: block;
}
#burger:checked +[for=burger]::before{
    content: url('../images/close.svg');
}
.mobile-menu{
    margin-bottom: 10vh;
}
.header_nav nav a{
    margin-right: 1vw;
    color: #363636;
}
.header_nav nav a:hover{
    text-decoration: none;
    color:#FE201D;
}
.footer_container{
    background: #343434;
    color: #FFFFFF;
    padding: 3vh 0;
    font-family: 'Montserrat';
    line-height: 30px;

}
.footer_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width : 320px) and (max-width : 479px) {
[for=burger]
{
    display: block;
}
[for=burger]::before
{
    content: url('../images/burger.svg');
}
.burger-menu{
   display: block;
}
.header_container_line--gray{
    display: none;
}
.header_logo img{
    width: 60vw;
}
.header_nav{
    display: none;
}
.header_socials{
    display: none;
}
}