
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* start header style */

.header_container{
    font-family: 'Montserrat', sans-serif;
}
.header_container_line--gray{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 7vw;
    background: #343434;
    color: #FFFFFF;
}
.header_contacts{
    display: flex;
    padding: 10px 0;
}
.header_contacts__item{
    display: flex;
    margin-right: 4vw;
}
.call{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.call:hover{
    color: red;
    text-decoration: none;
}
.header_contacts__item img{
    margin-right: 7px;
}
.header_search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_search{
    background-image: url(../images/loop.svg);
    background-repeat: no-repeat;
    background-position: left;
    width: 15vw;
    padding: 7px 0 0 25px;
    border: none;
}
.input_flex{
    display: flex;
}
.search_button{
    all: unset;
    background: #FE201D;
    font-size: 14px;
    padding: 3.9px 10px;
    margin-left: -11.1px;
    /* position: relative;
    top: -3.3px; */
}
.header_container_line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3vh 4vw;
}
.header_icons{
    display: flex;
    justify-content: center;
}
.header_socials a{
    margin-left: 0.5vw;
}
.mobile-phone{
    display: none;
}
.header_line{
    padding: 0 2vw;
}
.burger-menu{
    display: none;
}
.mobile-menu{
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: white;
    color: #343434;
}
.mobile-menu a{
    color: #343434;
}
.mobile-menu nav{
    padding: 20px 0;
}
.mobile-menu .nav li{
    margin: 0 0 20px 20px;
    font-size: 16px;
}
.mobile-basket{
    padding: 10px 20px;
}
.mobile-menu__item{
    display: flex;
    margin: 20px 6px;
}
.mobile-menu__item img{
    display: flex;
    margin-right: 10px;
}
#burger, [for=burger]
{
    display: none;
}
#burger:checked + label + .mobile-menu{
    display: block;
}
#burger:checked +[for=burger]::before{
    content: url('../images/close.svg');
}
.mobile-menu{
    margin-bottom: 10vh;
}
.header_nav nav a{
    margin-right: 1vw;
    color: #363636;
}
.header_nav nav a:hover{
    text-decoration: none;
    color:#FE201D;
}
.footer_container{
    background: #343434;
    color: #FFFFFF;
    padding: 3vh 0;
    font-family: 'Montserrat';
    line-height: 30px;

}
.footer_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.contacts_container{
    margin: 15vh 0;
}
.contacts{
    background-color: #363636;
    width: 40vw;
    margin: 1px auto;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contacts_body{
    margin-left: 1vw;
}
.socials-block{
    display: flex;
    flex-direction: column;
}
.socials-block img{
width: 40px;
margin-bottom: 10px;
}
.contacts_item{
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
}
.contacts_item img{
    margin-right: 1vw;
    width: 30px;
}
.delivery_container{
    margin: 15vh 0;
}
.delivery{
    background-color: #363636;
    width: 35vw;
    margin: 1px auto;
    color: white;
    padding: 30px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
}
.delivery img{
    width: 10vw;
}
.delivery h1{
    text-align: center;
    color: #FE201D;
    margin-bottom: 5vh;
    font-size: 20px;
}
.delivery_body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.delivery_body li{
    margin-bottom: 20px;
    list-style: disc;
}

@media only screen and (min-width : 320px) and (max-width : 479px) {

.header_container{
    position: fixed;
    background-color: white;
    width: 100vw;
}
.header_container_line{
    padding: 10px 2vw;
}
.content_container{
    margin-top: 60px;
}
.mobile-phone{
    display: block;
    margin-left: 9px;
    position: relative;
    top: 2px;
}
.mobile-phone img{
    width: 25px;
}
[for=burger]
{
    display: block;
}
[for=burger]::before
{
    content: url('../images/burger.svg');
}
.burger-menu{
   display: block;
}
.header_container_line--gray{
    display: none;
}
.header_logo img{
    width: 53vw;
}
.header_nav{
    display: none;
}
.header_socials{
    display: none;
}
.contacts_container{
    margin: 5vh 0;
}
.contacts{
    background-color: #363636;
    width: 70vw;
    margin: 1px auto;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contacts_body{
    margin-left: 0vw;
}

.delivery_container{
    margin: 5vh 0;
}
.delivery{
    background-color: #363636;
    width: 85vw;
    margin: 1px auto;
    color: white;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bold;
}
.delivery img{
    width: 20vw;
    margin-top: 20px;
}
.delivery h1{
    text-align: center;
    color: #FE201D;
    margin-bottom: 5vh;
    font-size: 20px;
}
.delivery_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.delivery_body li{
    margin-bottom: 20px;
    list-style: disc;
}
}
@media (min-width: 430px) and (max-width: 1199.98px) { 
    [for=burger]
{
    display: block;
}
[for=burger]::before
{
    content: url('../images/burger.svg');
}
.burger-menu{
   display: block;
}
.header_container_line--gray{
    display: none;
}
.header_logo img{
    width: 20vw;
}
.header_nav{
    display: none;
}
.header_socials{
    display: none;
}
}