.basket_container{
min-height: 65vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.basket_container h1{
    font-size: 4vh;
}
.empty_basket{
 text-align: center;
 display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.empty_basket p{
    text-align: center;
    font-size: 5vh;
   }

.count{
    display: flex;
}
.count p{
    margin: 0 5px;
}
.basket-form{
    margin-top: 5vh;
    text-align: center;

}
.basket-form input{
    width: 20vw;
    padding: 2px 0;
    margin-bottom: 2vh;
}
.basket-form  input[type=submit] {
    background-color: red;
    width: 15vw;
    color: white;
    padding: 1vh 0;
    margin-top: 5vh;
    margin: 1px auto;
    text-align: center;
    margin-top: 3vh;
    border: none;
}