.bread_crumbs{
    background: #F7F7F7;
    font-family: 'Montserrat';
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 0 2vh 6vw;
    box-shadow: rgba(0.85,0,0,12) 14px 28px rgba(1,0,0,12);
}
.bread_crumbs__item{
    margin: 0 1vw;
}
.bread_crumbs__item a{
    color: #363636;
}
.product_container{
    font-family: 'Montserrat';
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7vh;
    color: #363636;
}
.product_nav{
    min-width: 5vw;
    margin: 0 8vw 0 1vw;
    white-space: nowrap;
}
.product_nav a{
    display: flex;
    align-items: center;
    line-height: 45px;
    color: #363636;
}
.product_nav a:hover{
    color: #FE201D;
    text-decoration: none;
}
.product_nav img{
    margin-right: 10px;
}
.product{
    display: flex;
    flex-wrap: wrap;
    color: #363636;
}
.slider img{
    width: 25vw;
    /* min-width: 300px; */
}
.product_info{
    padding-left: 5vw;
}
.product_title h1{
    text-align: start;
    padding-bottom: 2vh;
    font-size: 30px;
    max-width: 25vw;
}
.product_about{
    width: 35vw;
    padding: 0 0 4vh 0;
    color: #363636;
}
.product_price{
    color: #363636;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 3vh;
}
.button_product{
    background: #FE201D;
    text-align: center;
    width: 15vw;
    padding: 1vh 0.5vw;
    color: white;
    margin-bottom: 7vh;
}
.add_to_cart{
    background: #FE201D;
    text-align: center;
    width: 15vw;
    padding: 1vh 0.5vw;
    color: white;
    margin-bottom: 7vh;
    border: none;
    cursor: pointer;
}
.haracteristics p{
    padding-bottom: 20px;
    font-size: 20px;
}
table {
    border-collapse: collapse;
}
  table td, table th {
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    padding: 6px 40px 2px 10px ;
}
.product_dignities{
    padding: 5vh 0 8vh 0;
}
.product_dignities li{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.product_dignities p{
    padding-left: 0.5vw;
}
.product_page_h2 h2{
    text-align: center;
    padding: 8vh 0;
    background: #F7F7F7;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #363636;
   }
.sub_products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #F7F7F7;
    padding: 0 5vw;
    font-family: 'Montserrat';
    color: #363636;
}
.sub_products a{
    text-decoration: none;
    color: #363636;
}
.sub_products a:hover{
    text-decoration: none;
    opacity: 0.73;
}
.sub_products__item{
    background: white;
    margin-bottom: 25px;
    margin-left: 2vw;
    padding: 2vh 2vw 40px 2vw;
    width: 20vw;
}
.sub_products__item img{
    width: 20vw;
    height: 280px;
    object-fit: cover;
}
.sub_products__item h2{
    text-align: center;
    font-size: 2vh;
}
.sub_product__flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5vh;
}
.sub_product_button{
    text-align: center;
    width: 10vw;
    color: white;
    text-align: center;
    background-color: #FE201D;
    padding: 5px 10px;
}
.sub_product_button:hover{
    text-decoration: none;
}
.how_to_order-mobile{
    display: none;
}
@media only screen and (min-width : 320px) and (max-width : 479px) {
    html, body {
        overflow-x: hidden !important;
        box-sizing: border-box;
      }
    .bread_crumbs__item{
        margin: 0 2vw;
    }
    .slider{
        margin: 1px auto;
        padding-bottom: 5vh;
    }
    .haracteristics{
        width: 20vw;
    }
    .product_title h1{
        min-width: 100vw;
    }
    .product_page_h2 h2{
        padding: 5vh 0;
       }
    .product_about{
        width: 100vw;
        font-size: 16px;
    }
    .product_price{
        font-size: 25px;
        padding: 1vh 0 4vh 0;
    }
    .add_to_cart{
        width: 60vw;
        font-size: 18px;
    }
    .sub_products__item{
        width: 90vw;
        height: 440px;
    }
    .sub_products__item img{
        width: 90vw;
        height: 350px;
    }
    .price{
        font-size: 28px;
    }
    .sub_product_button{
        width: 30vw;
        padding: 1vh 0;
    }
    .product_container{
        padding: 0 2vw;   
    }
    .product_dignities{
        font-size: 18px;
    }
    .product_dignities img{
        margin-right: 15px;
    }
    .how_to_order img{
        display: none;
    }
    .how_to_order-mobile{
        display: block;
    }
    .socials_column{
        width: 60vw;
        display: flex;
        justify-content: center;
        padding: 2vh 0;
    }
    .contacts_column p{
        padding: 1vh 0;
        color: white;
    }
    .contacts_column a{
        color: white;
    }
    
    .contacts_column{
        padding-bottom: 4vh;
    }
    .footer_container{
        padding-top: 5vh;
    }
    .haracteristics table{
        width: 95vw;
    }
}

@media (min-width: 430px) and (max-width: 1199.98px) { 
    html, body {
        overflow-x: hidden !important;
        box-sizing: border-box;
      }
    .bread_crumbs__item{
        margin: 0 2vw;
    }
    .slider{
        margin: 1px auto;
        padding-bottom: 5vh;
    }
    .haracteristics{
        width: 20vw;
    }
    .product_nav{
        display: none;
    }
    .product_title h1{
        min-width: 100vw;
    }
    .product_page_h2 h2{
        padding: 5vh 0;
       }
    .product_about{
        width: 100vw;
        font-size: 16px;
    }
    .product_price{
        font-size: 25px;
        padding: 1vh 0 4vh 0;
    }
    .add_to_cart{
        width: 60vw;
        font-size: 18px;
    }
    .sub_products__item{
        width: 30vw;
        height: 42vh;
    }
    .sub_products__item img{
        width: 30vw;
        height: 30vh;
    }
    .price{
        font-size: 28px;
    }
    .sub_product_button{
        width: 30vw;
        padding: 1vh 0;
    }
    .product_container{
        padding: 0 2vw;   
    }
    .product_dignities{
        font-size: 18px;
    }
    .product_dignities img{
        margin-right: 15px;
    }
    .how_to_order{
        display: none;
        border:1px solid red;
    }
    .footer_container{
        display: none;
    }
    
}