.bread_crumbs{
    background: #F7F7F7;
    font-family: 'Montserrat';
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 0 2vh 6vw;
    box-shadow: rgba(0.85,0,0,12) 14px 28px rgba(1,0,0,12);
}
.bread_crumbs__item{
    margin: 0 1vw;
}
.bread_crumbs__item a{
    color: #363636;
}
.product_container{
    font-family: 'Montserrat';
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 7vh;
    margin: 0 7vw;
}
.product_nav{
    width: 15vw;
    min-width: 15vw;
    padding: 0 5vw 0 0;
    white-space: nowrap;
}
.product_nav a{
    display: flex;
    align-items: center;
    line-height: 50px;
    color: #363636;
}
.product_nav img{
    margin-right: 10px;
}
.product{
    display: flex;
}
.slider img{
    width: 25vw;
    min-width: 400px;
}
.product_info{
    padding-left: 5vw;
}
.product_title h1{
    text-align: start;
    font-size: 30px;
}
.product_about{
    width: 35vw;
    padding: 0 0 4vh 0;
}
.product_price{
    color: #363636;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 3vh;
}
.button_product{
    background: #FE201D;
    text-align: center;
    width: 15vw;
    padding: 1vh 0.5vw;
    color: white;
    margin-bottom: 7vh;
}
.haracteristics p{
    padding-bottom: 20px;
    font-size: 20px;
}
table {
    border-collapse: collapse;
}
  table td, table th {
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    padding: 4px 20px 2px 10px ;
}
.product_dignities{
    padding: 5vh 0;
}
.product_dignities li{
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.product_dignities p{
    padding-left: 0.5vw;
}
.product_page_h2 h2{
    text-align: center;
    line-height: 12vh;
    background: #F7F7F7;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #363636;
   }
.sub_products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #F7F7F7;
    padding: 0 5vw;
    font-family: 'Montserrat';
}
.sub_products__item{
    background: white;
    margin-bottom: 10vh;
    margin-left: 2vw;
    padding-bottom: 2vh;
}
.sub_products__item img{
    width: 20vw;
}
.sub_products__item h2{
    text-align: center;
}
.sub_product__flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5vh;
}
.sub_product_button{
    text-align: center;
    width: 10vw;
    color: white;
    text-align: center;
    background-color: #FE201D;
    padding: 5px 10px;
}

